BAGS_API_KEY=
BAGS_API_BASE_URL=https://public-api-v2.bags.fm/api/v1
NEXT_PUBLIC_APP_NAME=Bags Hackathon Starter
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com